
h1 {
	  margin-top: 50px;
  margin-bottom: 20px;
  margin-right: 0px;
  margin-left: 0px;
}

h2 {
	  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 30px;
  
}
p {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 30px;
}